---
---

<div class="home">
    <style>
        * {
            background-color: #5b5769;
            color:#ccc7d9;
        }

        p {
            padding: 15%;
            text-align: center;
        }

        h1 {
            text-align: left;
            color:#ccc7d9;

        }
    </style>
    <h1>
        <a href="/">asteria</a><br>
        <div style="font-size:large;">
        {% if page.title %}
        {% if page.title == "home" %} <a href="/about/">home </a>
        {% else %}{{ page.title }}
        {% endif %}
        {% endif %}
        </div>
    </h1>

  {{ content }}
</div>
