---
---

<div class="home">
    <style>
        * {
            background-color: #5b5769;
            color:#ccc7d9;
        }

        p {
            padding-top: 15%;
            padding-inline: 15%;
            padding-bottom: 0%;
            text-align: center;
        }

        h1 {
            text-align: left;
            color:#ccc7d9;

        }
        a {
            text-decoration:none;
        }
        a:hover {
            padding-inline:10px;
        }
        footer {
            position: fixed;
            text-align: center;
            bottom: 2%;
            right: 40%;
        }
        .asteria {
            position: fixed;
            text-align: center;
            text-anchor:middle;
            font-size: 300px;
            bottom: -170px;
            right: 50%;
        }
        ::marker {
            color: orangered;
            font-size: 0%;
        }
        .dialogueStart {
            padding-inline: 42%;
        }
        details {
            text-align: center;
            padding-block: 10px;
        }
        summary {
            background-color: #504b63;
            padding-block: 10px;
            font-style: italic;
            font-weight: bold;
        }
        
    </style>
    
  {{ content }}
  <footer style="color: #5b5769;">luna &lt;3</footer>
  <div class = "asteria">ASTERIA</div>    
</div>
