---
---

<div class="images">
    <style>
        * {
            background-color: #5b5769;
            color:#ccc7d9;
        }

        p {
            padding: 10%;
            text-align: center;
            padding-block:10p;
        }
        h1 {
            text-align: left;
            color:#ccc7d9;

        }
        a {
            text-decoration:none;
        }
        a:hover {
        }
        footer {
            text-align: center;
            padding: 2%;
        }
    </style>
    <h1>
        <a href="/">asteria</a><br>
        <div style="font-size:large;">
        {% if page.title %}
        {% if page.title == "home" %} <a href="/about/">home </a>
        {% else %}{{ page.title }}
        {% endif %}
        {% endif %}
        </div>
    </h1>

  {{ content }}
</div>
